@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

body {
  height: 100vh;
}

.container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 6fr;
}

/* sidebar */
.sidebar {
  background-color: #0073ff;
  color: #ffffff;
  padding: 1.25rem;

  grid-row: 1 / -1;
}

.sidebar li {
  display: flex;
  gap: 0.5rem;
  transition: 300ms;
}

.sidebar img {
  filter: invert(100%);
}

.sidebar ul {
  list-style: none;
  margin-top: 2rem;
  display: grid;
  gap: 0.7rem;
}

.sidebar li:hover {
  border-radius: 10px;
  padding: 0.3rem;
  margin-left: 0.5rem;
  cursor: pointer;
  background-color: #ffffff;
  color: #0073ff;
  transition: 200ms;
}

/* header */
.header {
  background-color: #ffffff;
  padding: 0 1.25rem 1.25rem 1.25rem;
  box-shadow: #0073ffd0 0px 5px, #0073ff85 0px 10px, #0073ff5d 0px 15px,
    #0073ff22 0px 20px, #0073ff22 0px 25px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.header img {
  border-radius: 50%;
}

.header-search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem;
}

.header-search input {
  border-radius: 20px;
  height: 1.5rem;
  width: 90%;
  padding: 0 2ch;
  border-style: none;

  background-color: #d6e8ffdb;
}

.header-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-info img {
  width: 50px;
  height: 50px;
}

.header-greeting {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 0.3rem;
}

.header-greeting p {
  align-self: end;
}

.header-greeting img {
  width: 100px;
  height: 100px;

  justify-self: center;
  align-self: center;
  grid-row: 1 / span 2;
}

.header-buttons {
  align-self: center;
  display: flex;
  gap: 1rem;
}

.header-buttons button {
  width: 4rem;
  height: 2rem;
  border-style: none;
  border-radius: 25px;
  background-color: #0073ff;
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: 600;
}

.header-buttons button:hover {
  cursor: pointer;
}

/* content */
.content {
  background-color: #d6e8ffdb;

  display: grid;
  grid-template-columns: 5fr 2fr;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr;
}

.card-item {
  border-left-style: solid;
  border-radius: 10px;
  border-width: 8px;
  border-left-color: rgb(255, 196, 0);
  background-color: #ffffff;
  margin: 1rem;
  padding: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  display: grid;
}

.card-item > div {
  color: #686868;
}

.card-item > h4 {
  align-self: self-end;
  padding-bottom: 0.33rem;
}

.card-icon {
  align-self: self-end;
  justify-self: end;
}

.card-item img {
  width: 1.3rem;
  margin-right: 0.75rem;
}

.card-icon img:hover {
  cursor: pointer;
}

.card-title {
  grid-column: 1 / -1;
  align-self: self-end;
  padding-top: 1.5rem;
  padding-left: 1rem;
}

/* content side */
.content-side {
  display: grid;
  grid-template-rows: 0.1fr 1fr 0.1fr 1fr;
}

.content-side > h4 {
  align-self: self-end;
  padding-left: 1rem;
}

.side-card {
  background-color: #ffffff;
  padding: 2rem;
  margin: 1rem;
  border-radius: 10px;
  display: grid;
  gap: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-content > div {
  margin-bottom: 1rem;
  color: #686868;
}

.card-content:nth-child(1),
.card-content:nth-child(2) {
  border-bottom-style: solid;
  border-color: #686868;
  border-width: 1px;
}

.side-profile-container {
  display: grid;
  padding: 1rem;
  background-color: #ffffff;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.side-profile {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 0.5rem;
}

.side-profile img {
  border-radius: 50%;
  height: 75px;
  grid-row: 1 / span 2;
  align-self: center;
  justify-self: center;
}

.side-profile p:nth-child(2) {
  align-self: self-end;
}
